.page-content{
  margin-top: 50px;
}

.landing{
  background-image: url("skyline.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

.bg {
    position: relative;
    background: #000 url("./images/laurier2.jpg") center center;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;
}

.bottom-button{
  margin-top:25px;
  margin-bottom:25px;
}

.landing-title{
  color:floralwhite;
}

#gitlink{
  color:floralwhite;
  margin-right: 25px;
}

#gitlink:hover{
  color:lightpink;
}
