<div class="bg" style="height:100vh;">
<div class="jumbotron" style="height:100vh;background-color:rgba(136, 136, 136,0.5);">

  <div class="container landing-title">
    <div class="row col-sm-9">
      <h1>What are you looking for ?</h1>
    </div>
  </div>

  <div class="container" style="margin-top:20px;">

    <div class="col-xs-12">

      <form class="form" role="form" ng-submit="loadInitial()">

        <div class="well" style="background-color:rgba(136, 136, 136,0.6);">
          <fieldset>

            <legend style="color:floralwhite;"><h2>Search for flats in Ottawa</h2></legend>

          <div class="form-group col-xs-6">

            <div>
              <label for="beds" style="color:floralwhite"><h3>Beds</h3></label>

              <select class="form-control" id="beds" ng-model="beds">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4+</option>
              </select>
            </div>

          </div>


          <div class="form-group col-xs-6">

            <div>
              <label for="baths" style="color:floralwhite"><h3>Baths</h3></label>

              <select class="form-control" id="baths" ng-model="baths">
                  <option>1</option>
                  <option>2</option>
                  <option>3</option>
                  <option>4+</option>
              </select>
            </div>

          </div>

        </fieldset>
        </div>

        <button class="btn btn-primary btn-lg" type="submit">Take a Gander</button>

      </form>
    </div>

  </div>

  </div>
    <div class="container"><p style="position:absolute;bottom:0px;color:floralwhite;">
      <a href="https://github.com/phil-jauvin/flatstr"><i id="gitlink" class="fa fa-github fa-4x"></i></a>
      Photo courtesy of
      <u><a href="https://www.flickr.com/photos/rdb466/22438823087/" style="color:floralwhite;">Ross Dunn on Flickr</a></u>
    </p>
     </div>
</div>
